---
layout: default
---

<div class="span8">
  <div class="blog-index article">
    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
    {% endfor %}
    <div class="pagination pagination-centered">
      <ul>
      {% if paginator.next_page %}
        <li><a class="prev" href="{{paginator.next_page}}">&larr; Older</a></li>
      {% endif %}
        <li><a href="/blog/archives">Blog Archives</a></li>
      {% if paginator.previous_page %}
        <li><a href="{{paginator.previous_page}}">Newer &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="span4">
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
</div>
